/* line 20, ../scss/gisborough.scss */
body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.6em;
  font-size: 18px;
}

/* line 27, ../scss/gisborough.scss */
#top-header {
  background: #00b3be;
  height: 76px;
  padding: 3px 0 0;
  margin-bottom: 20px;
}
/* line 32, ../scss/gisborough.scss */
#top-header .inner {
  background: url(/images/de-explains-head.png) no-repeat;
  width: 960px;
  height: 70px;
  margin: 0 auto;
}
/* line 37, ../scss/gisborough.scss */
#top-header .inner a.homelink {
  display: block;
  height: 70px;
  width: 220px;
}
/* line 41, ../scss/gisborough.scss */
#top-header .inner a.homelink span {
  display: none;
}

/* line 48, ../scss/gisborough.scss */
#footer {
  background: #00b3be;
  color: white;
  margin-top: 20px;
  font-size: 80%;
}
/* line 54, ../scss/gisborough.scss */
#footer a:link, #footer a:visited {
  color: white;
  text-decoration: none;
}
/* line 58, ../scss/gisborough.scss */
#footer a:hover, #footer a:active {
  color: #f7403a;
  text-decoration: underline;
}
/* line 63, ../scss/gisborough.scss */
#footer .inner {
  width: 960px;
  margin: 0 auto;
}

/* line 70, ../scss/gisborough.scss */
.clear {
  clear: both;
  display: block;
}

/* layout */
/* line 77, ../scss/gisborough.scss */
#main {
  margin: 10px auto;
  width: 95%;
  padding: 0 10px;
}
@media (min-width: 960px) {
  /* line 77, ../scss/gisborough.scss */
  #main {
    width: 960px;
  }
}

/*Typography*/
/* line 89, ../scss/gisborough.scss */
a:link, a:visited {
  color: #00b3be;
}

/* line 93, ../scss/gisborough.scss */
a:hover, a:active {
  color: #f7403a;
}

/* line 97, ../scss/gisborough.scss */
p.standfirst {
  font-size: 140%;
}

/* specific to proto */
/* line 104, ../scss/gisborough.scss */
#gisborough-menu {
  opacity: 0.8;
  margin: 0 auto 20px;
  font-size: 90%;
  padding-bottom: 3px;
  border-bottom: 1px solid #eee;
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 960px) {
  /* line 104, ../scss/gisborough.scss */
  #gisborough-menu {
    width: 960px;
  }
}

/* typography */
/* line 122, ../scss/gisborough.scss */
p {
  margin: 0 0 1em;
}

/* line 130, ../scss/gisborough.scss */
a:hover, a:active {
  color: red;
  text-decoration: underline;
}

/* line 136, ../scss/gisborough.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 141, ../scss/gisborough.scss */
h1 {
  font-weight: bold;
  font-size: 180%;
  margin: 0 0 1em;
  color: #ffa02f;
}

/* line 150, ../scss/gisborough.scss */
.sticky-header {
  width: 960px;
  display: block;
}
/* line 153, ../scss/gisborough.scss */
.sticky-header.stuck {
  z-index: 100;
  background: white;
  border-bottom: 1px solid #ccc;
  padding: 0px 0 0;
}
/* line 158, ../scss/gisborough.scss */
.sticky-header.stuck h1 {
  margin: 10px 0;
}
/* line 162, ../scss/gisborough.scss */
.sticky-header h1 {
  margin: 10px 0 20px;
  position: relative;
  z-index: 2;
}
/* line 167, ../scss/gisborough.scss */
.sticky-header .progbar {
  display: block !important;
  background: #FFF3E4;
  height: 100%;
  position: absolute;
  width: 0;
  z-index: 1;
}

/* line 177, ../scss/gisborough.scss */
h2 {
  font-weight: bold;
  font-size: 160%;
  margin: 0 0 1em;
  padding-bottom: 5px;
  border-bottom: 1px solid #ffa02f;
}

/* line 185, ../scss/gisborough.scss */
h3 {
  font-weight: bold;
  font-size: 130%;
  margin: 0 0 1em;
}

/* line 191, ../scss/gisborough.scss */
h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 10px;
}

/* line 196, ../scss/gisborough.scss */
blockquote {
  color: #555;
  margin: 1em 0;
  padding-left: 1em;
  border-left: 3px solid #ddd;
}
/* line 201, ../scss/gisborough.scss */
blockquote cite {
  font-style: italic;
  color: #777;
}
/* line 205, ../scss/gisborough.scss */
blockquote.large {
  font-size: 180%;
  border-left: none;
  padding-left: 0;
  margin-left: 1em;
  color: #666;
}

/* line 214, ../scss/gisborough.scss */
ul {
  list-style: disc;
  margin: 1em 0;
}
/* line 217, ../scss/gisborough.scss */
ul li {
  margin: 0 0 1em 2em;
}
/* line 220, ../scss/gisborough.scss */
ul.tightlist {
  margin: 0 0 1em;
}
/* line 222, ../scss/gisborough.scss */
ul.tightlist li {
  margin: 0 0 5px 2em;
}

/* line 228, ../scss/gisborough.scss */
ol {
  list-style: decimal;
  margin: 1em 0;
}
/* line 231, ../scss/gisborough.scss */
ol li {
  margin: 0 0 1em 2em;
}

/* line 237, ../scss/gisborough.scss */
dl dt {
  font-weight: bold;
}
/* line 240, ../scss/gisborough.scss */
dl dd {
  margin: 0 0 0.5em;
}

/* line 245, ../scss/gisborough.scss */
code {
  font-family: monospace;
}

/* line 249, ../scss/gisborough.scss */
pre {
  font-family: monospace;
  padding: 10px;
  background: #333;
  color: #e0e0e0;
  width: 600px;
  overflow: auto;
}

/* line 258, ../scss/gisborough.scss */
em, i {
  font-style: italic;
}

/* line 262, ../scss/gisborough.scss */
strong, b {
  font-weight: bold;
}

/* line 266, ../scss/gisborough.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 271, ../scss/gisborough.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 276, ../scss/gisborough.scss */
table {
  margin: 1em 0;
  border-collapse: collapse;
  border-style: hidden;
}
/* line 280, ../scss/gisborough.scss */
table th {
  font-weight: bold;
  color: #fff;
  background: #666;
}
/* line 285, ../scss/gisborough.scss */
table th, table td {
  padding: 10px;
  border: 1px solid #888;
}
/* line 289, ../scss/gisborough.scss */
table tr.even td {
  background: #eee;
}

/*
 * Elements
 */
/* line 300, ../scss/gisborough.scss */
.image-block {
  margin: 0 4em 10px;
  background: #dcdfe2;
  position: relative;
  z-index: 1;
  text-align: center;
}
/* line 307, ../scss/gisborough.scss */
.image-block .video-shield {
  background: url("/images/play-icon.png") 50% 50% no-repeat rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
  z-index: 2;
}
/* line 314, ../scss/gisborough.scss */
.image-block video {
  float: left;
}
/* line 318, ../scss/gisborough.scss */
.image-block img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
/* line 324, ../scss/gisborough.scss */
.image-block h3.caption {
  background: #666;
  color: white;
  padding: 10px;
  margin: 0;
}
/* line 331, ../scss/gisborough.scss */
.image-block .inner {
  padding: 10px;
}
/* line 335, ../scss/gisborough.scss */
.image-block p.caption {
  font-size: 90%;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

/* line 344, ../scss/gisborough.scss */
.boxout {
  margin-bottom: 20px;
  clear: both;
}
/* line 347, ../scss/gisborough.scss */
.boxout.side {
  width: 200px;
  float: left;
  margin-right: 20px;
}
/* line 352, ../scss/gisborough.scss */
.boxout.side.right {
  margin-right: 0;
  margin-left: 20px;
  float: right;
}
/* line 357, ../scss/gisborough.scss */
.boxout h2 {
  font-weight: bold;
  margin: 0;
  background: #ffa02f;
  padding: 10px;
  border-bottom: none;
  color: white;
}
/* line 365, ../scss/gisborough.scss */
.boxout .inner {
  background: #f3f3f3;
  padding: 10px;
}
/* line 369, ../scss/gisborough.scss */
.boxout .inner img.blkimg {
  display: block;
  margin: 5px auto;
}
/* line 373, ../scss/gisborough.scss */
.boxout .inner img.blkimg.border {
  border: 1px solid #888;
}

/* line 382, ../scss/gisborough.scss */
.concertina {
  display: none;
}

/* line 386, ../scss/gisborough.scss */
a.concertina-link {
  font-weight: bold;
  background: #eee;
  padding: 5px;
}
/* line 390, ../scss/gisborough.scss */
a.concertina-link.selected {
  background: #ccc;
}

/* line 395, ../scss/gisborough.scss */
a.concertina-return {
  float: right;
  display: block;
}
/* line 398, ../scss/gisborough.scss */
a.concertina-return:link, a.concertina-return:visited {
  text-decoration: none;
  color: #888;
}
/* line 402, ../scss/gisborough.scss */
a.concertina-return:hover, a.concertina-return:active {
  color: red;
}

/* prototypes homepage */
/* line 411, ../scss/gisborough.scss */
#prototypes-list li h2 {
  border-bottom: none;
}

/* line 419, ../scss/gisborough.scss */
.navigator {
  background: #f3f3f3;
  border: 2px solid #bac0c5;
  /*border: 2px solid #ccc;*/
  /*padding: 10px;*/
  float: right;
  margin: 0 0 20px 20px;
}
/* line 426, ../scss/gisborough.scss */
.navigator ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
/* line 433, ../scss/gisborough.scss */
.navigator ul:first-child > li {
  margin: 0;
}
/* line 438, ../scss/gisborough.scss */
.navigator ul li {
  margin: 0 0 0 15px;
  padding: 0;
}
/* line 441, ../scss/gisborough.scss */
.navigator ul li ul {
  padding-right: 5px;
}
/* line 444, ../scss/gisborough.scss */
.navigator ul li a {
  padding: 5px;
}
/* line 447, ../scss/gisborough.scss */
.navigator ul li h2 {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 120%;
  /*background: $DE_turquoise;*/
}
/* line 453, ../scss/gisborough.scss */
.navigator ul li h2 a {
  display: block;
}
/* line 455, ../scss/gisborough.scss */
.navigator ul li h2 a:link, .navigator ul li h2 a:visited {
  text-decoration: none;
  /*color: white;*/
}
/* line 459, ../scss/gisborough.scss */
.navigator ul li h2 a:hover, .navigator ul li h2 a:active {
  text-decoration: underline;
  color: #f7403a;
}
/* line 465, ../scss/gisborough.scss */
.navigator ul li h3 {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 471, ../scss/gisborough.scss */
.navigator ul li h3 a:link, .navigator ul li h3 a:visited {
  text-decoration: none;
}
/* line 474, ../scss/gisborough.scss */
.navigator ul li h3 a:hover, .navigator ul li h3 a:active {
  text-decoration: underline;
}

/* line 483, ../scss/gisborough.scss */
span.indent {
  display: block;
  margin-left: 1em;
}

/* line 488, ../scss/gisborough.scss */
.breadcrumbs {
  font-size: 90%;
  margin-bottom: 10px;
}
