/* line 20, ../scss/gisborough.scss */
body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.6em;
  font-size: 18px;
  border-top: 10px solid #00b3be;
  border-bottom: 10px solid #00b3be;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 31, ../scss/gisborough.scss */
.clear {
  clear: both;
  display: block;
}

/* layout */
/* line 38, ../scss/gisborough.scss */
#main {
  margin: 10px auto;
  width: 95%;
  padding: 0 10px;
}
@media (min-width: 960px) {
  /* line 38, ../scss/gisborough.scss */
  #main {
    width: 960px;
  }
}

/*Typography*/
/* line 50, ../scss/gisborough.scss */
a:link, a:visited {
  color: #00b3be;
}

/* line 54, ../scss/gisborough.scss */
a:hover, a:active {
  color: #f7403a;
}

/* line 58, ../scss/gisborough.scss */
p.standfirst {
  font-size: 140%;
}

/* specific to proto */
/* line 65, ../scss/gisborough.scss */
#gisborough-menu {
  opacity: 0.8;
  margin: 0 auto 20px;
  font-size: 90%;
  padding-bottom: 3px;
  border-bottom: 1px solid #eee;
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 960px) {
  /* line 65, ../scss/gisborough.scss */
  #gisborough-menu {
    width: 960px;
  }
}

/* typography */
/* line 83, ../scss/gisborough.scss */
p {
  margin: 0 0 1em;
}

/* line 91, ../scss/gisborough.scss */
a:hover, a:active {
  color: red;
  text-decoration: underline;
}

/* line 97, ../scss/gisborough.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 102, ../scss/gisborough.scss */
h1 {
  font-weight: bold;
  font-size: 180%;
  margin: 0 0 1em;
  color: #ffa02f;
}

/* line 109, ../scss/gisborough.scss */
h2 {
  font-weight: bold;
  font-size: 160%;
  margin: 0 0 1em;
  padding-bottom: 5px;
  border-bottom: 1px solid #ffa02f;
}

/* line 117, ../scss/gisborough.scss */
h3 {
  font-weight: bold;
  font-size: 130%;
  margin: 0 0 1em;
}

/* line 123, ../scss/gisborough.scss */
h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 1em;
}

/* line 128, ../scss/gisborough.scss */
blockquote {
  color: #555;
  margin: 1em 0;
  padding-left: 1em;
  border-left: 3px solid #ddd;
}
/* line 133, ../scss/gisborough.scss */
blockquote cite {
  font-style: italic;
  color: #777;
}
/* line 137, ../scss/gisborough.scss */
blockquote.large {
  font-size: 180%;
  border-left: none;
  padding-left: 0;
  margin-left: 1em;
  color: #666;
}

/* line 146, ../scss/gisborough.scss */
ul {
  list-style: disc;
  margin: 1em 0;
}
/* line 149, ../scss/gisborough.scss */
ul li {
  margin: 0 0 1em 2em;
}

/* line 154, ../scss/gisborough.scss */
ol {
  list-style: decimal;
  margin: 1em 0;
}
/* line 157, ../scss/gisborough.scss */
ol li {
  margin: 0 0 1em 2em;
}

/* line 163, ../scss/gisborough.scss */
dl dt {
  font-weight: bold;
}
/* line 166, ../scss/gisborough.scss */
dl dd {
  margin: 0 0 0.5em;
}

/* line 171, ../scss/gisborough.scss */
code {
  font-family: monospace;
}

/* line 175, ../scss/gisborough.scss */
pre {
  font-family: monospace;
  padding: 10px;
  background: #333;
  color: #e0e0e0;
  width: 600px;
  overflow: auto;
}

/* line 184, ../scss/gisborough.scss */
em, i {
  font-style: italic;
}

/* line 188, ../scss/gisborough.scss */
strong, b {
  font-weight: bold;
}

/* line 192, ../scss/gisborough.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 197, ../scss/gisborough.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 202, ../scss/gisborough.scss */
table {
  margin: 1em 0;
  border-collapse: collapse;
  border-style: hidden;
}
/* line 206, ../scss/gisborough.scss */
table th {
  font-weight: bold;
  color: #fff;
  background: #666;
}
/* line 211, ../scss/gisborough.scss */
table th, table td {
  padding: 10px;
  border: 1px solid #888;
}
/* line 215, ../scss/gisborough.scss */
table tr.even td {
  background: #eee;
}

/*
 * Elements
 */
/* line 226, ../scss/gisborough.scss */
.image-block {
  margin: 0 4em 10px;
  background: #dcdfe2;
  padding: 10px;
}
/* line 231, ../scss/gisborough.scss */
.image-block img {
  max-width: 100%;
}
/* line 235, ../scss/gisborough.scss */
.image-block p.caption {
  font-size: 90%;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

/* line 244, ../scss/gisborough.scss */
.boxout {
  margin-bottom: 20px;
}
/* line 246, ../scss/gisborough.scss */
.boxout.side {
  width: 200px;
  float: left;
  margin-right: 20px;
}
/* line 251, ../scss/gisborough.scss */
.boxout.side.right {
  margin-right: 0;
  margin-left: 20px;
  float: right;
}
/* line 256, ../scss/gisborough.scss */
.boxout h2 {
  font-weight: bold;
  margin: 0;
  background: #ffa02f;
  padding: 10px;
  border-bottom: none;
  color: white;
}
/* line 264, ../scss/gisborough.scss */
.boxout .inner {
  background: #f3f3f3;
  padding: 10px;
}

/* line 272, ../scss/gisborough.scss */
.concertina {
  display: none;
}

/* line 276, ../scss/gisborough.scss */
a.concertina-link {
  font-weight: bold;
  background: #eee;
  padding: 5px;
}
/* line 280, ../scss/gisborough.scss */
a.concertina-link.selected {
  background: #ccc;
}

/* line 285, ../scss/gisborough.scss */
a.concertina-return {
  float: right;
  display: block;
}
/* line 288, ../scss/gisborough.scss */
a.concertina-return:link, a.concertina-return:visited {
  text-decoration: none;
  color: #888;
}
/* line 292, ../scss/gisborough.scss */
a.concertina-return:hover, a.concertina-return:active {
  color: red;
}

/* prototypes homepage */
/* line 301, ../scss/gisborough.scss */
#prototypes-list li h2 {
  border-bottom: none;
}
