@import "breakpoint";

// colors

$DE_brightyellow: #ffa02f;
$DE_warmred: #f7403a;
$DE_turquoise: #00b3be;
$DE_paleblue: #64a0c8;
$DE_sage: #6a8a7f;
$DE_darkgrey: #51626f;

$DE_grey0: #394147;
$DE_grey1: #55626e;
$DE_grey2: #889199;
$DE_grey3: #bac0c5;
$DE_grey4: #dcdfe2;

$desktop_and_up: 960px;

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.6em;
  font-size: 18px;

  border-bottom: 10px solid $DE_turquoise;
  padding-bottom: 20px;
}

#top-header {
  background: $DE_turquoise;
  height: 76px;
  padding: 3px 0 0;
  margin-bottom: 20px;
  .inner {
    background: url(/images/de-explains-head.png) no-repeat;
    width: 960px;
    height: 70px;
    margin: 0 auto;
  }
}

.clear {
  clear: both;
  display: block;
}

/* layout */

#main {
  margin: 10px auto;
  width: 95%;
  padding: 0 10px;
  @include breakpoint($desktop_and_up) {
    width: 960px;
    // padding: 0;
  }
}

/*Typography*/

a:link, a:visited {
  color: $DE_turquoise;
}

a:hover, a:active {
  color: $DE_warmred;
}

p.standfirst {
  font-size: 140%;
}


/* specific to proto */

#gisborough-menu {
  opacity: 0.8;
  margin: 0 auto 20px;
  font-size: 90%;
  padding-bottom: 3px;
  border-bottom: 1px solid #eee;
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
  @include breakpoint($desktop_and_up) {
    width: 960px;
    // padding-left: 0;
    // padding-right: 0;
  }
}

/* typography */

p {
  margin: 0 0 1em;
}

a {
  &:link, &:visited {

  }
  &:hover, &:active {
    color: red;
    text-decoration: underline;
  }
}

abbr,acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

h1 {
  font-weight: bold;
  font-size: 180%;
  margin: 0 0 1em;
  color: $DE_brightyellow;

}


.sticky-header {
  width: 960px;
  display: block;
  &.stuck {
    z-index: 100;
    background: white;
    border-bottom: 1px solid #ccc;
    padding: 0px 0 0;
    h1 {
      margin: 10px 0;
    }
  }
  h1 {
    margin: 10px 0 20px;
    position: relative;
    z-index: 2;
  }
  .progbar {
    display: block !important;
    background: #FFF3E4;
    height: 100%;
    position: absolute;
    width: 0;
    z-index: 1;
  }
}

h2 {
  font-weight: bold;
  font-size: 160%;
  margin: 0 0 1em;
  padding-bottom: 5px;
  border-bottom: 1px solid $DE_brightyellow;
}

h3 {
font-weight: bold;
  font-size: 130%;
  margin: 0 0 1em;
}

h4,h5,h6 {
  font-weight: bold;
  margin: 0 0 1em;
}

blockquote {
  color: #555;
  margin: 1em 0;
  padding-left: 1em;
  border-left: 3px solid #ddd;
  cite {
    font-style:italic;
    color: #777;
  }
  &.large {
    font-size: 180%;
    border-left: none;
    padding-left: 0;
    margin-left: 1em;
    color: #666;
  }
}

ul {
  list-style: disc;
  margin: 1em 0;
  li {
    margin: 0 0 1em 2em;
  }
}

ol {
  list-style: decimal;
  margin: 1em 0;
  li {
    margin: 0 0 1em 2em;
  }
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin: 0 0 0.5em;
  }
}

code {
  font-family: monospace;
}

pre {
  font-family: monospace;
  padding: 10px;
  background: #333;
  color: #e0e0e0;
  width: 600px;
  overflow: auto;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

table {
  margin: 1em 0;
   border-collapse: collapse;
    border-style: hidden;
  th {
    font-weight: bold;
    color: #fff;
    background: #666;
  }
  th, td {
    padding: 10px;
    border: 1px solid #888;
  }
  tr.even td {
    background: #eee;
  }
}

/*
 * Elements
 */

// image-block

.image-block {
  margin: 0 4em 10px;
  background: $DE_grey4;
  position: relative;
  z-index: 1;
  text-align: center;

  .video-shield {
    background: url('/prototypes/images/play-icon.png') 50% 50% no-repeat rgba(0,0,0,0.5);
    position: relative;
    width: 100%;
    z-index: 2;
  }

  video {
    float: left;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  h3.caption {
    background: #666;
    color: white;
    padding: 10px;
    margin: 0;
  }

  .inner {
    padding: 10px;
  }

  p.caption {
    font-size: 90%;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
  }
}
// Boxouts

.boxout {
  margin-bottom: 20px;
  clear: both;
  &.side {
    width: 200px;
    float: left;
    margin-right: 20px;
  }
  &.side.right {
    margin-right: 0;
    margin-left: 20px;
    float: right;
  }
  h2 {
    font-weight: bold;
    margin: 0;
    background: $DE_brightyellow;
    padding: 10px;
    border-bottom: none;
    color: white;
  }
  .inner {
    background: #f3f3f3;
    padding: 10px;

    img.blkimg {
      display: block;
      margin: 5px auto;

      &.border {
        border: 1px solid #888;
      }
    }
  }
 }

// Concertinas

.concertina {
  display: none; // TODO: only on screen
}

a.concertina-link {
  font-weight: bold;
  background: #eee;
  padding: 5px;
  &.selected {
    background: #ccc;
  }
}

a.concertina-return {
  float: right;
  display: block;
  &:link, &:visited {
    text-decoration: none;
    color: #888;
  }
  &:hover, &:active {
    color: red;
  }
}

/* prototypes homepage */

#prototypes-list {
  li {
    h2 {
      border-bottom: none;
    }
  }
}

// Navigator for security/privacy

.navigator {
  background: #f3f3f3;
  border: 2px solid $DE_grey3;
  /*border: 2px solid #ccc;*/
  /*padding: 10px;*/
  float: right;
  margin: 0 0 20px 20px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.4;

    &:first-child {
      > li {
        margin: 0;
      }
    }

    li {
      margin: 0 0 0 15px;
      padding: 0;
      ul {
        padding-right: 5px;
      }
      a {
        padding: 5px;
      }
      h2 {
        margin: 0;
        padding: 0;
        border: none;
        font-size: 120%;
        background: $DE_turquoise;
        a {
          display: block;
          &:link, &:visited {
            text-decoration: none;
            color: white;
          }
          &:hover, &:active {
            text-decoration: underline;
            color: $DE_warmred;
          }
        }
      }
      h3 {
        font-size: 100%;
        margin: 0;
        padding: 0;
        border: none;
        a {
          &:link, &:visited {
            text-decoration: none;
          }
          &:hover, &:active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

span.indent {
  display: block;
  margin-left: 1em;
}
