@import "breakpoint";

$desktop_and_up: 960px;

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.6em;
  font-size: 18px;
}

.clear {
  clear: both;
  display: block;
}

/* layout */

#main {
  margin: 0 auto;
  width: 95%;
  padding: 0 10px;
  @include breakpoint($desktop_and_up) {
    width: 960px;
    // padding: 0;
  }
}


/* specific to proto */

#gisborough-menu {
  opacity: 0.8;
  margin: 0 auto 20px;
  font-size: 90%;
  padding-bottom: 3px;
  border-bottom: 1px solid #eee;
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
  @include breakpoint($desktop_and_up) {
    width: 960px;
    // padding-left: 0;
    // padding-right: 0;
  }
}

/* typography */

p {
  margin: 0 0 1em;
}

a {
  &:link, &:visited {

  }
  &:hover, &:active {
    color: red;
    text-decoration: underline;
  }
}

abbr,acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

h1 {
  font-weight: bold;
  font-size: 180%;
  margin: 0 0 1em;
}

h2 {
font-weight: bold;
  font-size: 160%;
  margin: 0 0 1em;
}

h3 {
font-weight: bold;
  font-size: 130%;
  margin: 0 0 1em;
}

h4,h5,h6 {
  font-weight: bold;
  margin: 0 0 1em;
}

blockquote {
  color: #555;
  margin: 1em 0;
  padding-left: 1em;
  border-left: 3px solid #ddd;
  cite {
    font-style:italic;
    color: #777;
  }
  &.large {
    font-size: 180%;
    border-left: none;
    padding-left: 0;
    margin-left: 1em;
    color: #666;
  }
}

ul {
  list-style: disc;
  margin: 1em 0;
  li {
    margin: 0 0 1em 2em;
  }
}

ol {
  list-style: decimal;
  margin: 1em 0;
  li {
    margin: 0 0 1em 2em;
  }
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin: 0 0 0.5em;
  }
}

code {
  font-family: monospace;
}

pre {
  font-family: monospace;
  padding: 10px;
  background: #333;
  color: #e0e0e0;
  width: 600px;
  overflow: auto;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

table {
  margin: 1em 0;
   border-collapse: collapse;
    border-style: hidden;
  th {
    font-weight: bold;
    color: #fff;
    background: #666;
  }
  th, td {
    padding: 10px;
    border: 1px solid #888;
  }
  tr.even td {
    background: #eee;
  }
}

/*
 * Elements
 */

// Boxouts

.boxout {
  margin-bottom: 20px;
  &.side {
    width: 200px;
    float: left;
    margin-right: 20px;
  }
  &.side.right {
    margin-right: 0;
    margin-left: 20px;
    float: right;
  }
  h2 {
    font-weight: bold;
    margin: 0;
    background: #bbb;
    padding: 10px;
  }
  .inner {
    background: #eee;
    padding: 10px;
  }
 }

// Concertinas

.concertina {
  display: none; // TODO: only on screen
}

a.concertina-link {
  font-weight: bold;
  background: #eee;
  padding: 5px;
  &.selected {
    background: #ccc;
  }
}

a.concertina-return {
  float: right;
  display: block;
  &:link, &:visited {
    text-decoration: none;
    color: #888;
  }
  &:hover, &:active {
    color: red;
  }
}