<div class='breadcrumbs'>
  <a href="/privacy_security">Security and Privacy</a>
  &raquo;
  <a href="/privacy_security/privacy">Privacy</a>
  &raquo;
  Privacy breaches
</div>

<h1>Privacy breaches</h1>

<p class='standfirst'>In the news, privacy breaches are often associated with deliberate attacks.</p>

<p>But privacy is about people’s choices, so more often than not, privacy breaches are down to human error.</p>

<p>
  It might be that someone <a href="/privacy_security/privacy/breaches/revealing_too_much">revealed more than they intended.</a><br/>
  It might be that someone has <a href="/privacy_security/privacy/breaches/permissions">taken something without permission.</a><br/>
  It might just be that the <a href="/privacy_security/privacy/breaches/software">software doesn't work correctly.</a><br/>
</p>

