<div id="main">
<div class='breadcrumbs'>
  <a href="/privacy_security">Security and Privacy</a>
  &raquo;
  <a href="/privacy_security/privacy">Privacy</a>
  &raquo;
  <a href="/privacy_security/privacy/breaches">Privacy Breaches</a>
  &raquo;
  Taking without permission
</div>

<h1>Privacy breaches: taking without permission</h1>

<p class='standfirst'>Other people’s content isn’t yours to use without their permission, and vice versa.</p>

<p>Anyone can link to a BBC Weather Watchers photo without permission, by using the <abbr title='Uniform Resource Locator'>URL</abbr>, but the photo itself shouldn’t be copied for another use without permission of the person who took it.</p>

<p>Occasionally, someone might copy your photo and post it elsewhere on the internet. Technically, they mustn't do this, but it's very hard to police. It's not right that this is happening but generally it's not something to worry about.</p>

<p>Ownership of the photos uploaded to the BBC Weather Watchers site remains with the person who uploaded it. On other sites, like Instagram, ownership stays with the person who took the photos but uploading it grants the company licence to use it. Ownership and licensing information is included in the terms and conditions for a website or app.</p>

<p>Some sites and apps have terms and conditions on the use of members’ content. Copyright law also applies, just as it does to offline creative outputs.</p>

<p>There are exceptions for <a href="https://en.wikipedia.org/wiki/Creative_Commons" target="_blank">Creative Commons</a> and public domain content. If you’re in doubt, don’t copy.</p>
<hr/>

<p>
  If it's not <em>taking something without permission</em>:<br/>
  It might be that someone <a href="/privacy_security/privacy/breaches/revealing_too_much">revealed more than intended.</a><br/>
  It might just be that the <a href="/privacy_security/privacy/breaches/software">software doesn't work correctly.</a>
</p>

<p>When you've finished, you can go <a href="../../">back to the start</a> or find out more about <a href="../../security">Security</a>.

</div>
