<div id="main">
<div class='breadcrumbs'>
  <a href="/privacy_security">Security and Privacy</a>
  &raquo;
  <a href="/privacy_security/privacy">Privacy</a>
  &raquo;
  <a href="/privacy_security/privacy/breaches">Privacy Breaches</a>
  &raquo;
  Badly designed software
</div>

<h1>Privacy breaches: badly designed software</h1>

<p class='standfirst'>Badly designed software can make it unclear what’s public and what’s private. Settings and functions might be complicated to use, or it might be difficult to check what’s visible to whom.</p>

<p>Badly made software could have bugs that unintentionally reveal information to the wrong users. These are often caught and fixed, but not always.</p>
<hr/>

<p>
  If it's not <em>badly designed software</em>:<br/>
  It might be that someone <a href="/privacy_security/privacy/breaches/revealing_too_much">revealed more than intended.</a><br/>
  It might be that someone has <a href="/privacy_security/privacy/breaches/permissions">taken something without permission.</a>
</p>

<p>When you've finished, you can go <a href="../../">back to the start</a> or find out more about <a href="../../security">Security</a>.
</div>
