<div class='breadcrumbs'>
  <a href="/privacy_security">Security and Privacy</a>
  &raquo;
  <a href="/privacy_security/privacy">Privacy</a>
  &raquo;
  <a href="/privacy_security/privacy/breaches">Privacy Breaches</a>
  &raquo;
  Badly designed software
</div>

<h1>Privacy breaches: badly designed software</h1>

<p class='standfirst'>Badly designed software can make it unclear what’s public and what’s private. Settings and functions might be complicated to use, or it might be difficult to check what’s visible to whom.</p>

<p>Sometimes, the people who write software make mistakes. A mistake in a piece of software may lead to information being unintentionally revealed to the wrong users. Such mistakes are very rare, but not unheard of. If you suspect something isn't working correctly with a website or app, it might be worth trying to tell them by contacting their support.</p>

<hr/>

<p>
  If it's not <em>badly designed software</em>:<br/>
  It might be that someone <a href="/privacy_security/privacy/breaches/revealing_too_much">revealed more than intended.</a><br/>
  It might be that someone has <a href="/privacy_security/privacy/breaches/permissions">taken something without permission.</a>
</p>

<p>When you've finished, you can go <a href="/privacy_security">back to the start</a> or find out more about <a href="/privacy_security/security">Security</a>.
