<p class='standfirst'>At Doteveryone, part of making the internet for everyone is making it understandable by everyone.</p>

<p class=''>We’re starting to create some straightforward explanations about how the internet works, and collecting them here.</p>

<p class=''>We hope being better-informed will help you feel more comfortable online and in the digital world. You might even find the topics interesting!</p>

<p class=''>If you want to know more about a topic we've not covered, let us know by emailing <a href="mailto:explainers@doteveryone.org.uk">explainers@doteveryone.org.uk</a>.</p>


<ul id="homepage-list">
  <li>
    <h2><a href="/upload">What happens when I upload a photo?</a></h2>
    <div class='img'>
      <img src="/images/upload/home.png" />
    </div>
    <div class='primary'>
      <p>You know you're using the internet when you upload photos to website and apps. But what is the internet? And how do you photos get there?</p>
      <p><a class='big-btn' href="/upload">Find out how uploading works</a></p>
    </div>
    <span class='clear'><!-- clear --></span>
  </li>
  <li>
    <h2><a href="/sharing">What happens when I share a photo?</a></h2>
    <div class='img'>
      <img src="/images/sharing/home.png" />
    </div>
    <div class='primary'>
      <p>You might hope your photo appears on a BBC Weather report &mdash; but did you know its potential audience is already far bigger?</p>
      <p><a class='big-btn' href="/sharing">Find out about sharing content online</a></p>
    </div>
    <span class='clear'><!-- clear --></span>
  </li>
  <li>
    <h2><a href="/privacy_security">What about my security and privacy online?</a></h2>
    <div class='img'>
      <img src="/images/privacy/home.png" />
    </div>
    <div class='primary'>
      <p>Security and privacy on the internet are not the same thing. Understand the differences and what you should do with both.</p>
      <p><a class='big-btn' href="/privacy_security">Find out about privacy and security online</a></p>
    </div>
    <span class='clear'><!-- clear --></span>
  </li>
</ul>

