<div id="main">
  <ul id="homepage-list">
    <li>
      <h2><a href="/upload">What happens when I upload a photo?</a></h2>
      <div class='img'>
        <img src="/images/upload/home.png" />
      </div>
      <div class='primary'>
        <p> When you upload a photo to the the Weather Watchers site, you’re using the internet. But what <em>is</em> the internet? And what <em>actually</em> happens when you upload a photo?</p>
        <p><a class='big-btn' href="/upload">Find out about how uploading works</a></p>
      </div>
      <span class='clear'><!-- clear --></span>
    </li>
    <li>
      <h2><a href="/sharing">What happens when I share my photo?</a></h2>
      <div class='img'>
        <img src="/images/sharing/home.png" />
      </div>
      <div class='primary'>
        <p>You might be hoping your Weather Watchers photo appears on a BBC Weather report &mdash; but did you know, your potential audience is already far bigger? Find out more about sharing content online.</p>
        <p><a class='big-btn' href="/sharing">Find out about sharing online</a></p>
      </div>
      <span class='clear'><!-- clear --></span>
    </li>
    <li>
      <h2><a href="/privacy_security">Tell me more about security and privacy online.</a></h2>
      <div class='img'>
        <img src="/images/privacy/home.png" />
      </div>
      <div class='primary'>
        <p>Security and privacy on the internet are sometimes thought of as being the same thing. In reality, they're quite different.</p>
        <p><a class='big-btn' href="/privacy_security">Find out about privacy and security online</a></p>
      </div>
      <span class='clear'><!-- clear --></span>
    </li>
  </ul>

</div>
