<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title><%= pagetitle %>Doteveryone explains</title>
  <link rel="icon" type="image/png" href="/images/favicon.png" sizes="64x64">

  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/gisborough.css">
  <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery.scrollTo.min.js"></script>
  <script type="text/javascript" src="/js/gisborough.js"></script>
</head>
<body>
  <div id='top-header'>
    <div class='printlogo'>
      <img src="/images/de-explains-head-print.png" />
    </div>
    <div class='inner'><a class='homelink' href="/"><span>doteveryone explains</span></a></div>
  </div>


  <%= yield %>

  <div class='clear'><!-- clear --></div>
  <div id="footer">
    <div class='inner'>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode"><abbr title='Creative Commons Attribution-ShareAlike 4.0 International license'>CC-BY-SA</abbr></a> DotEveryone 2017.
    </div>
  </div>
</body>
</html>
