@media print {
  /* line 25, ../../scss/gisborough.scss */
  p a:after {
    /*content: " ( "attr(href)" )";*/
  }
}
/* line 31, ../../scss/gisborough.scss */
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.6em;
  font-size: 18px;
}

/* line 38, ../../scss/gisborough.scss */
hr {
  border: none;
  border-bottom: 1px solid #bac0c5;
}
/* line 41, ../../scss/gisborough.scss */
hr.conclusion {
  border-bottom: 1px solid #ffa02f;
}

/* line 47, ../../scss/gisborough.scss */
a.big-btn {
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  font-size: 120%;
}
@media print {
  /* line 47, ../../scss/gisborough.scss */
  a.big-btn {
    padding: 0;
    background: none;
    border-radius: 0;
  }
  /* line 54, ../../scss/gisborough.scss */
  a.big-btn:after {
    content: "" !important;
  }
}
/* line 61, ../../scss/gisborough.scss */
a.big-btn:link, a.big-btn:visited {
  background: #00b3be;
  color: white;
  text-decoration: none;
}
@media print {
  /* line 61, ../../scss/gisborough.scss */
  a.big-btn:link, a.big-btn:visited {
    text-decoration: underline;
    color: black;
    background: none;
  }
}
/* line 71, ../../scss/gisborough.scss */
a.big-btn:hover, a.big-btn:active {
  background: #f7403a;
  text-decoration: none;
}

/* line 77, ../../scss/gisborough.scss */
#homepage-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 81, ../../scss/gisborough.scss */
#homepage-list li {
  margin: 0 0 20px;
  padding: 0px;
  background: #dcdfe2;
}
/* line 86, ../../scss/gisborough.scss */
#homepage-list li .img {
  display: none;
}
@media (min-width: 680px) {
  /* line 86, ../../scss/gisborough.scss */
  #homepage-list li .img {
    display: block;
    margin: 0 10px 0px 0;
    float: left;
    padding: 10px;
    width: 200px;
  }
}
/* line 96, ../../scss/gisborough.scss */
#homepage-list li .primary {
  padding: 10px 10px 10px 10px;
  /*float: left;*/
}
@media (min-width: 680px) {
  /* line 96, ../../scss/gisborough.scss */
  #homepage-list li .primary {
    padding-left: 230px;
  }
}
/* line 105, ../../scss/gisborough.scss */
#homepage-list li h2 {
  border: none;
  padding: 0;
  margin: 0;
}
/* line 109, ../../scss/gisborough.scss */
#homepage-list li h2 a {
  display: block;
  padding: 10px;
  background: #00b3be;
}
@media print {
  /* line 109, ../../scss/gisborough.scss */
  #homepage-list li h2 a {
    color: black !important;
    background: none;
    border-bottom: 1px solid #ccc;
  }
}
/* line 119, ../../scss/gisborough.scss */
#homepage-list li h2 a:link, #homepage-list li h2 a:visited {
  color: white;
  text-decoration: none;
}
/* line 123, ../../scss/gisborough.scss */
#homepage-list li h2 a:hover, #homepage-list li h2 a:active {
  background: #f7403a;
  text-decoration: underline;
}

/* line 133, ../../scss/gisborough.scss */
#top-header {
  background: #00b3be;
  height: 76px;
  padding: 3px 0 0;
  margin-bottom: 20px;
}
@media print {
  /* line 133, ../../scss/gisborough.scss */
  #top-header {
    background: none;
  }
}
/* line 143, ../../scss/gisborough.scss */
#top-header .printlogo {
  display: none;
}
@media print {
  /* line 143, ../../scss/gisborough.scss */
  #top-header .printlogo {
    display: block;
    padding: 10px;
    margin-left: 10px;
  }
}
/* line 152, ../../scss/gisborough.scss */
#top-header .inner {
  background: url(/images/de-explains-head.png) no-repeat 10px 0;
  padding: 10px;
  height: 70px;
  margin: 0 auto;
}
@media print {
  /* line 152, ../../scss/gisborough.scss */
  #top-header .inner {
    display: none;
  }
}
@media (min-width: 960px) {
  /* line 152, ../../scss/gisborough.scss */
  #top-header .inner {
    background-position: 0 0;
    width: 960px;
    padding: 0;
  }
}
/* line 165, ../../scss/gisborough.scss */
#top-header .inner a.homelink {
  display: block;
  height: 70px;
  width: 220px;
}
/* line 169, ../../scss/gisborough.scss */
#top-header .inner a.homelink span {
  display: none;
}

/* line 176, ../../scss/gisborough.scss */
#footer {
  background: #00b3be;
  color: white;
  margin-top: 20px;
  font-size: 80%;
}
/* line 183, ../../scss/gisborough.scss */
#footer a.cclink:link, #footer a.cclink:visited {
  color: white;
  text-decoration: none;
}
/* line 188, ../../scss/gisborough.scss */
#footer a:link, #footer a:visited {
  color: white;
  text-decoration: underline;
}
/* line 192, ../../scss/gisborough.scss */
#footer a:hover, #footer a:active {
  color: #f7403a;
  text-decoration: underline;
}
/* line 197, ../../scss/gisborough.scss */
#footer .inner {
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width: 960px) {
  /* line 197, ../../scss/gisborough.scss */
  #footer .inner {
    background-position: 0 0;
    width: 960px;
    padding: 0;
  }
}

/* line 209, ../../scss/gisborough.scss */
.clear {
  clear: both;
  display: block;
}

/* layout */
/* line 216, ../../scss/gisborough.scss */
#main {
  margin: 10px auto;
  width: 95%;
  padding: 0 10px;
}
@media (min-width: 960px) {
  /* line 216, ../../scss/gisborough.scss */
  #main {
    width: 960px;
    padding: 0;
  }
}

/*Typography*/
/* line 228, ../../scss/gisborough.scss */
a:link, a:visited {
  color: #00b3be;
}

/* line 232, ../../scss/gisborough.scss */
a:hover, a:active {
  color: #f7403a;
}

/* line 236, ../../scss/gisborough.scss */
p.standfirst {
  font-size: 140%;
  line-height: 1.4;
}

/* specific to proto */
/* line 244, ../../scss/gisborough.scss */
#gisborough-menu {
  opacity: 0.8;
  margin: 0 auto 20px;
  font-size: 90%;
  padding-bottom: 3px;
  border-bottom: 1px solid #eee;
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 960px) {
  /* line 244, ../../scss/gisborough.scss */
  #gisborough-menu {
    width: 960px;
  }
}

/* typography */
/* line 262, ../../scss/gisborough.scss */
p {
  margin: 0 0 1em;
}

/* line 270, ../../scss/gisborough.scss */
a:hover, a:active {
  color: red;
  text-decoration: underline;
}

/* line 276, ../../scss/gisborough.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 281, ../../scss/gisborough.scss */
h1 {
  font-weight: bold;
  font-size: 180%;
  margin: 0 0 1em;
  color: #ffa02f;
}
@media print {
  /* line 281, ../../scss/gisborough.scss */
  h1 {
    color: black;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
}

/* line 296, ../../scss/gisborough.scss */
.sticky-header {
  width: 960px;
  display: block;
}
/* line 299, ../../scss/gisborough.scss */
.sticky-header.stuck {
  z-index: 100;
  background: white;
  border-bottom: 1px solid #ccc;
  padding: 0px 0 0;
}
/* line 304, ../../scss/gisborough.scss */
.sticky-header.stuck h1 {
  margin: 10px 0;
}
@media print {
  /* line 299, ../../scss/gisborough.scss */
  .sticky-header.stuck {
    position: relative !important;
    border: none !important;
  }
}
/* line 313, ../../scss/gisborough.scss */
.sticky-header h1 {
  margin: 10px 0 20px;
  position: relative;
  z-index: 2;
}
/* line 318, ../../scss/gisborough.scss */
.sticky-header .progbar {
  display: block;
  background: #FFF3E4;
  height: 100%;
  position: absolute;
  width: 0;
  z-index: 1;
}

/* line 328, ../../scss/gisborough.scss */
h2 {
  font-weight: bold;
  font-size: 160%;
  margin: 0 0 1em;
  padding-bottom: 5px;
  border-bottom: 1px solid #ffa02f;
}
@media print {
  /* line 328, ../../scss/gisborough.scss */
  h2 {
    border-color: #ccc;
  }
}

/* line 340, ../../scss/gisborough.scss */
h3 {
  font-weight: bold;
  font-size: 130%;
  margin: 0 0 1em;
}

/* line 346, ../../scss/gisborough.scss */
h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 10px;
}

/* line 351, ../../scss/gisborough.scss */
blockquote {
  color: #555;
  margin: 1em 0;
  padding-left: 1em;
  border-left: 3px solid #ddd;
}
/* line 356, ../../scss/gisborough.scss */
blockquote cite {
  font-style: italic;
  color: #777;
}
/* line 360, ../../scss/gisborough.scss */
blockquote.large {
  font-size: 180%;
  border-left: none;
  padding-left: 0;
  margin-left: 1em;
  color: #666;
}

/* line 369, ../../scss/gisborough.scss */
ul {
  list-style: disc;
  margin: 1em 0;
}
/* line 372, ../../scss/gisborough.scss */
ul li {
  margin: 0 0 1em 2em;
}
/* line 375, ../../scss/gisborough.scss */
ul.tightlist {
  margin: 0 0 1em;
}
/* line 377, ../../scss/gisborough.scss */
ul.tightlist li {
  margin: 0 0 5px 2em;
}

/* line 383, ../../scss/gisborough.scss */
ol {
  list-style: decimal;
  margin: 1em 0;
}
/* line 386, ../../scss/gisborough.scss */
ol li {
  margin: 0 0 1em 2em;
}

/* line 392, ../../scss/gisborough.scss */
dl dt {
  font-weight: bold;
}
/* line 395, ../../scss/gisborough.scss */
dl dd {
  margin: 0 0 0.5em;
}

/* line 400, ../../scss/gisborough.scss */
code {
  font-family: monospace;
}

/* line 404, ../../scss/gisborough.scss */
pre {
  font-family: monospace;
  padding: 10px;
  background: #333;
  color: #e0e0e0;
  width: 600px;
  overflow: auto;
}

/* line 413, ../../scss/gisborough.scss */
em, i {
  font-style: italic;
}

/* line 417, ../../scss/gisborough.scss */
strong, b {
  font-weight: bold;
}

/* line 421, ../../scss/gisborough.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 426, ../../scss/gisborough.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 431, ../../scss/gisborough.scss */
table {
  margin: 1em 0;
  border-collapse: collapse;
  border-style: hidden;
}
/* line 435, ../../scss/gisborough.scss */
table th {
  font-weight: bold;
  color: #fff;
  background: #666;
}
/* line 440, ../../scss/gisborough.scss */
table th, table td {
  padding: 10px;
  border: 1px solid #888;
}
/* line 444, ../../scss/gisborough.scss */
table tr.even td {
  background: #eee;
}

/*
 * Elements
 */
/* line 455, ../../scss/gisborough.scss */
.image-block {
  margin: 0 4em 10px;
  background: #dcdfe2;
  position: relative;
  z-index: 1;
  text-align: center;
}
@media print {
  /* line 455, ../../scss/gisborough.scss */
  .image-block {
    background: none;
    border: 1px solid #888;
  }
}
/* line 467, ../../scss/gisborough.scss */
.image-block .video-shield {
  background: url("/images/play-icon.png") 50% 50% no-repeat rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
  z-index: 2;
}
@media print {
  /* line 467, ../../scss/gisborough.scss */
  .image-block .video-shield {
    background: none;
    height: 100% !important;
  }
  /* line 475, ../../scss/gisborough.scss */
  .image-block .video-shield:after {
    font-style: italic;
    content: "Video removed from print version";
  }
}
/* line 482, ../../scss/gisborough.scss */
.image-block video {
  float: left;
}
@media print {
  /* line 482, ../../scss/gisborough.scss */
  .image-block video {
    display: none;
  }
}
/* line 489, ../../scss/gisborough.scss */
.image-block img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
/* line 495, ../../scss/gisborough.scss */
.image-block h3.caption {
  background: #666;
  color: white;
  padding: 10px;
  margin: 0;
}
@media print {
  /* line 495, ../../scss/gisborough.scss */
  .image-block h3.caption {
    background: none;
    color: #888;
    border-bottom: 1px solid #888;
  }
}
/* line 508, ../../scss/gisborough.scss */
.image-block .inner {
  padding: 10px;
}
/* line 512, ../../scss/gisborough.scss */
.image-block p.caption {
  font-size: 90%;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

/* line 521, ../../scss/gisborough.scss */
.boxout {
  margin-bottom: 20px;
  clear: both;
}
/* line 524, ../../scss/gisborough.scss */
.boxout.side {
  width: 200px;
  float: left;
  margin-right: 20px;
}
/* line 529, ../../scss/gisborough.scss */
.boxout.side.right {
  margin-right: 0;
  margin-left: 20px;
  float: right;
}
/* line 534, ../../scss/gisborough.scss */
.boxout h2 {
  font-weight: bold;
  margin: 0;
  background: #ffa02f;
  padding: 10px;
  border-bottom: none;
  color: white;
}
@media print {
  /* line 534, ../../scss/gisborough.scss */
  .boxout h2 {
    color: #888;
    background: none;
    border: 1px solid #888;
  }
}
/* line 547, ../../scss/gisborough.scss */
.boxout .inner {
  background: #f3f3f3;
  padding: 10px;
}
@media print {
  /* line 547, ../../scss/gisborough.scss */
  .boxout .inner {
    border: 1px solid #888;
    background: none;
  }
}
/* line 556, ../../scss/gisborough.scss */
.boxout .inner img.blkimg {
  display: block;
  margin: 5px auto;
}
/* line 560, ../../scss/gisborough.scss */
.boxout .inner img.blkimg.border {
  border: 1px solid #888;
}

/* line 569, ../../scss/gisborough.scss */
.concertina {
  display: none;
}

/* line 573, ../../scss/gisborough.scss */
a.concertina-link {
  font-weight: bold;
  background: #eee;
  padding: 5px;
}
/* line 577, ../../scss/gisborough.scss */
a.concertina-link.selected {
  background: #ccc;
}

/* line 582, ../../scss/gisborough.scss */
a.concertina-return {
  float: right;
  display: block;
}
/* line 585, ../../scss/gisborough.scss */
a.concertina-return:link, a.concertina-return:visited {
  text-decoration: none;
  color: #888;
}
/* line 589, ../../scss/gisborough.scss */
a.concertina-return:hover, a.concertina-return:active {
  color: red;
}

/* prototypes homepage */
/* line 598, ../../scss/gisborough.scss */
#prototypes-list li h2 {
  border-bottom: none;
}

/* line 606, ../../scss/gisborough.scss */
.navigator {
  background: #f3f3f3;
  border: 2px solid #bac0c5;
  /*border: 2px solid #ccc;*/
  /*padding: 10px;*/
  float: right;
  margin: 0 0 20px 20px;
}
/* line 613, ../../scss/gisborough.scss */
.navigator ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
/* line 620, ../../scss/gisborough.scss */
.navigator ul:first-child > li {
  margin: 0;
}
/* line 625, ../../scss/gisborough.scss */
.navigator ul li {
  margin: 0 0 0 15px;
  padding: 0;
}
/* line 628, ../../scss/gisborough.scss */
.navigator ul li ul {
  padding-right: 5px;
}
/* line 631, ../../scss/gisborough.scss */
.navigator ul li a {
  padding: 5px;
}
/* line 634, ../../scss/gisborough.scss */
.navigator ul li h2 {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 120%;
  /*background: $DE_turquoise;*/
}
/* line 640, ../../scss/gisborough.scss */
.navigator ul li h2 a {
  display: block;
}
/* line 642, ../../scss/gisborough.scss */
.navigator ul li h2 a:link, .navigator ul li h2 a:visited {
  text-decoration: none;
  /*color: white;*/
}
/* line 646, ../../scss/gisborough.scss */
.navigator ul li h2 a:hover, .navigator ul li h2 a:active {
  text-decoration: underline;
  color: #f7403a;
}
/* line 652, ../../scss/gisborough.scss */
.navigator ul li h3 {
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
/* line 658, ../../scss/gisborough.scss */
.navigator ul li h3 a:link, .navigator ul li h3 a:visited {
  text-decoration: none;
}
/* line 661, ../../scss/gisborough.scss */
.navigator ul li h3 a:hover, .navigator ul li h3 a:active {
  text-decoration: underline;
}

/* line 670, ../../scss/gisborough.scss */
span.indent {
  display: block;
  margin-left: 1em;
}

/* line 675, ../../scss/gisborough.scss */
.breadcrumbs {
  font-size: 90%;
  margin-bottom: 10px;
}
