<div class='breadcrumbs'>
  <a href="/upload">What happens when I upload a photo?</a>
  &raquo;
  How is data sent?
</div>

<h2>Uploading a photo: how is data sent?</h2>
<p class='standfirst'>TCP/IP is a set of rules about sending and receiving information, meaning your device and the BBC’s can exchange data.</p>

<p>Your information can take a lot of possible routes through the internet, so TCP/IP also guarantees that it arrives complete.</p>

<div class='image-block'>
  <div class='inner'>
    <video loop src="/video/upload/tcpip-video.mp4" poster="/video/upload/tcpip-poster.png" style='max-width: 100%'>
      Your photo is broken down up into packets which are addressed, and sent to the server.
    </video>
    <div class='video-shield'></div>
    <div class='clear'><!-- clear --></div>
  </div>
</div>

<p class='standfirst'>The web server now uses the path in the URL to direct your upload to the Weather Watchers software.</p>
<p>This stores your photo, weather observations, and account details in a structured way, so the Weather Watchers site can access and link it later.</p>

<p>Remember, all of this activity happens in milliseconds!</p>

<p>Find out <a href="/upload/when_the_internet_breaks">why the internet breaks</a> sometimes – and it’s not your fault!</p>
