<h1>What happens when I upload a photo?</h1>

<p class='standfirst'>When you upload a photo to the the Weather Watchers site, you’re not just on the internet – you're part of it. But what is the internet?</p>

<p>The internet is a vast network of millions of computers and devices, all connected to each other. When you go online your computer joins this network, and you connect to the BBC via some of these other computers.</p>

<p>Here's what happens when you post a photo to the BBC Weather Watchers site – all within milliseconds.</p>

<div class='image-block'>
  <div class='inner'>
    <video loop src="/images/upload/internet.mp4" style='max-width: 100%'>
      When you connect to the internet, you connect to your destination through many other networked computers. Other people are doing this at the same time as you.
    </video>
    <div class='video-shield'></div>
    <div class='clear'><!-- clear --></div>
  </div>
</div>

<p><a href="/upload/what_is_sent">Now find out what is sent.</a></p>
