<div class='breadcrumbs'>
  <a href="/upload">What happens when I upload a photo?</a>
  &raquo;
  What data is sent
</div>

<h2>Uploading a photo: what data is sent?</h2>
<p class='standfirst'>You send the data you can see directly on the upload page, and some data you can’t.</p>

<p>Your BBC Weather Watchers upload also sends your login identity, so your photo can be linked to your profile.</p>

<p>On other sites, this extra data might be the date and time you make a post, or the clicks you took to arrive on a page.</p>

<div class='image-block'>
  <div class='inner'>
    <img alt="When a form is submitted, some data you can see is submitted, along with some that you can't" src="/images/upload/form-with-hidden-data.png" />
  </div>
</div>

<p>Now learn about <a href="/upload/where_is_it_sent">where your data is sent</a> and how your device finds that location.</p>
