<h2>Uploading a photo: what data is sent?</h2>
<p class='standfirst'>You send the data you can see directly on the upload page, and some data you can’t.</p>

<p>Your BBC Weather Watchers upload also sends your login identity, so your photo can be linked to your profile.</p>

<p>On other sites, this extra data might be the date and time you make a post, or the clicks you took to arrive on a page.</p>

<div class='image-block'>
  <div class='inner'>
    <img src="/images/upload/form-with-hidden-data.png" />
  </div>
</div>

<p><a href="/upload/where_is_it_sent">Find out where your data is sent</a></p>
 
<p>Now learn about <a href="/upload/where_is_it_sent">where your data is sent</a> and how your device finds that location.</p>
