<h2>When the internet breaks</h2>

<p>If the internet is a network of devices, what happens when a connection in that network breaks?</p>
<p>Often, not a lot. There are so many connections, your data will just take a different route. This gives the internet resilience.</p>
<p>If a key connection in the network breaks, that can disrupt your access to the internet.</p>
<p>For instance, if you lose your internet connection at home, any one of the connections in the long chain might have broken – not necessarily the one leaving your house.</p>

<p>If you're having problems with a particular website, you can check if the problem is at your end or elsewhere on the internet using a site like <a href="http://www.downforeveryoneorjustme.com/">Down For Everyone Or Just Me.</a></p>

<p>So if your connection breaks while downloading a webpage or uploading a photo, it may well not be your fault!</p>

<hr class='conclusion' />

<p>Understand more about how the internet works from our other explainers:</p>
<ul class='tightlist'>
  <li><a href='/sharing'>What happens when I share a photo?</a></li>
  <li><a href='/privacy_security'>Security and privacy</a></li>
</ul>
