<h2>Where is it sent?</h2>

<p class='standfirst'>The upload data is sent to a particular <abbr title="Uniform Resource Locator">URL</abbr>, which is like a postal address.</p>

<p>A URL describes a location on the internet. That could be a page on a website (like the Weather Watchers home page) or a place to send data to.</p>

<p>The domain is a friendly name for the computer we're sending it to. The path describes where on that computer to send it.</p>

<div class='image-block'>
  <h3 class='caption'>The URL your data is sent to might look like this:</h3> 
  <div class='inner'>
    <img src='/images/upload/url-explained.png' />
  </div>
</div>

<p>Your device needs to turn the domain into an IP address (internet protocol). This is a unique string of numbers, and every device on the internet has one. You can find yours out easily by typing 'What's my IP address' into Google, or <a href="https://www.google.co.uk/search?hl=&site=&q=what%27s+my+ip+address">clicking here to search</a>.</p>

<p>Your device finds out the BBC's IP address by sending a request to the domain name system (DNS) which records all IP addresses.</p>

<div class='image-block'>
  <div class='inner'>
    <video loop src="/images/upload/dns-lookup.mp4" style='max-width: 100%'>
      Your device asks the DNS system what the IP address for www.bbc.co.uk is. The DNS system tells your device that it's 212.58.246.91. Your device then sends its full request to 212.58.246.91.
    </video>
    <div class='video-shield'></div>
    <div class='clear'><!-- clear --></div>
  </div>
</div>

<p><a href="/upload/how_is_it_sent">Find out how the data is sent</a></p>
