<div id="main">
<div class='breadcrumbs'>
  <a href="/privacy_security">Security and Privacy</a>
  &raquo;
  <a href="/privacy_security/privacy">Privacy</a>
  &raquo;
  How you show information
</div>
<h1>Privacy: how you show information</h1>

<p class='standfirst'>You can choose how closely tied your real identity is to your online accounts.</p>

<p>Do you want to use your real name? Do you want to be completely anonymous? Do you want to use a pseudonym, like a nickname or handle?</p>

<p>Can people work out who you are from it? Does that matter to you, or in your wider life, if they can?</p>

<p>For example, Twitter and Instagram allow you to use your real name or a nickname on your page and in your handle. Facebook expects you to use your real name, but there are ways to obscure it. Comment sections on sites sometimes allow you to user a nickname too.</p>

<p>Consider what sort of identity you're comfortable with, and in which context. You might decide it varies.</p>
<hr/>

<p><b>Other aspects of privacy:</b><br/>
  <span class='indent'>
    <a href="what">What you show</a><br/>
    <a href="who">To who</a><br/>
    <em>How</em><br/>
    <a href="where">Where</a><br/>
    <a href="when">When</a><br/>
  </span>
</p>

</div>
