<div class='breadcrumbs'>
  <a href="/privacy_security">Security and Privacy</a>
  &raquo;
  Privacy
</div>
<h1>Privacy</h1>

<p class='standfirst'>Privacy on the internet isn’t something to automatically worry about – it’s something to think about.</p>

<p>As with privacy in your offline life, you decide what you want to keep secret, and who you want to keep it secret from. These are decisions driven by your own morals &mdash; what you feel is the right thing to do, and right for you.</p>

<p>These are personal choices that are in your control. The links in this list guide you through the considerations:</p>

<p>
<span class='indent'>
  <a href="/privacy_security/privacy/what">What</a> you show: the people, events, topics, and opinions you share online<br/>
  <a href="/privacy_security/privacy/who">Who</a> you show it to: the family, friends, acquaintances, and strangers you share with<br/>
  <a href="/privacy_security/privacy/how">How</a> you show it: the name and identity you share under<br/>
  <a href="/privacy_security/privacy/where">Where</a> you show it: the different apps and sites you share on<br/>
  <a href="/privacy_security/privacy/when">When</a> you show it: the changes in your life that affect what you share<br/>
</span>
</p>

<p>After you’ve made these choices, you can use settings on websites and apps to apply them to what you show and share.</p>

<p>This is a clear guide to <a href="https://identity.utexas.edu/everyone/how-to-manage-your-social-media-privacy-settings" target="_blank">checking your social media settings on six major platforms,</a> from the Center for Identity at the University of Texas.</p>

<p>Sometimes, <a href="/privacy_security/privacy/breaches">privacy breaches</a> are in the news. Find out more about what they are.</p>

<p>Alternatively, find out about <a href="/privacy_security/security">Security.</a></p>

