<div id="main">
<div class='breadcrumbs'>
  <a href="/privacy_security">Security and Privacy</a>
  &raquo;
  Privacy
</div>
<h1>Privacy</h1>

<p class='standfirst'>Privacy on the internet isn’t something to automatically worry about – it’s something to think about.</p>

<p>As with privacy in your offline life, you decide what you want to keep secret, and who you want to keep it secret from. These are decisions driven by your own morals - what you feel is the right thing to do, and right for you.</p>

<p><a href="/privacy_security/privacy/what">What you show</a>, <a href="/privacy_security/privacy/who">to whom</a>, <a href="/privacy_security/privacy/how">how</a>, <a href="/privacy_security/privacy/where">where</a> and <a href="/privacy_security/privacy/when">when</a> are personal choices that are in your control. Once you make them, you can use settings on websites and apps to apply them to what you show and share.</p>

<p>Pick one of the questions above to find out more.</p>

<p>Sometimes, <a href="/privacy_security/privacy/breaches">privacy breaches</a> are in the news. Find out more about what they are.</p>

<p>Alternatively, find out about <a href="/privacy_security/security">Security.</a></p>

</div>
