<div class='breadcrumbs'>
  <a href="/privacy_security">Security and Privacy</a>
  &raquo;
  <a href="/privacy_security/security">Security</a>
  &raquo;
  Access security
</div>

<h1>Access security</h1>

<p class='standfirst'>A website will often verify that you are who you say, before allowing you access to your account.</p>

<p>You can think of this as the website providing the window lock, with you as the user bringing the key. If your key doesn't fit, you won't be able to enter.</p>

<p>The most familiar method of authentication for websites is a password. Phones often have passcodes. Some devices now even use biometric identification, like thumb-print unlocking on iPads.</p>

<p>Two-factor authentication adds an extra layer of checking. The person logging in needs to know the password and have access to a second device which is used to verify the password. That verification could happen by text message, by a smartphone app, or it could be performed on a dedicated device like a bank secure key.</p>

<p style="text-align: center;"><img style="max-width: 100%; border: 1px solid #aaa;" src="/images/privacy/twofactor.jpg" /></p>

<h2>Accounts and logins</h2>

<p>Protect your accounts and logins with strong passwords, using a different strong password for each account. This makes them harder to guess. Find out <a href="http://www.moneysavingexpert.com/utilities/password-security">what makes a strong password</a> in this guide from MoneySavingExpert.</p>

<p>Don’t share your passwords with other people or write them down. This makes it much less likely for someone you don’t want to know them, to find them out.</p>

<p>A password manager like <a href="https://1password.com/">1Password</a> or <a href="https://www.lastpass.com/">LastPass</a> is really helpful here. You can use these tools to generate strong, random passwords which they then save securely using encryption. You only have to remember one master password for your password manager account. Once you’ve logged into it, you can retrieve and use all the others.</p>

<p>Don’t click links in emails from senders you don’t know, or have content that looks suspicious. Scammers send emails like this, to trick you into visiting a fake website – when you enter your account details, they take your password. This is known as ‘phishing’ – <a href="http://www.bbc.co.uk/news/av/technology-36981625/technology-explained-what-is-phishing<">this brief BBC video</a> explains more. /p>


<hr/>

<p><b>Other aspects of security:</b><br/>
  <span class='indent'>
    <a href="devices">Computers and devices</a><br/>
    <a href="transmission">Transmission</a><br/>
    <em>Access</em><br/>
    <a href="storage">Storage</a><br/>
  </span>
</p>

