<div class='breadcrumbs'>
  <a href="/privacy_security">Security and Privacy</a>
  &raquo;
  <a href="/privacy_security/security">Security</a>
  &raquo;
  Security of computers and devices
</div>

<h1>Security of computers and devices</h1>

<p class='standfirst'>An important part of being secure online is the security of the devices you use to go on the internet. Here are some simple things you can do to be more secure.</p>

<p>Activate password and passcodes on your computers and devices (for example phones, tablets, games consoles), so they need unlocking before someone can use them.</p>

<p>Don’t lend your devices to other people, so you can be more certain about how they're being used. If you do share a computer, perhaps within your family, agree rules about asking permission before using, or what they can use it for.</p>

<p>Install software updates on your devices regularly, or as soon as you’re prompted. This doesn’t just keep it running properly, it means you have the latest protection.</p>

<h2>Shared computers and other devices</h2>

<p>Take extra care if you use shared computers, like in libraries or at work. Don’t leave yourself logged in to online accounts, and don’t save your passwords or other login details on shared computers. This makes it less likely that other people can get into your account.</p>

<hr/>

<p><b>Other aspects of security:</b><br/>
  <span class='indent'>
    <em>Computers and devices</em><br/>
    <a href="transmission">Transmission</a><br/>
    <a href="access">Access</a><br/>
    <a href="storage">Storage</a><br/>
  </span>
</p>

