<div class='breadcrumbs'>
  <a href="/privacy_security">Security and Privacy</a>
  &raquo;
  Security
</div>

<h1>Security</h1>

<p>Going online comes with a small risk. You can take steps to make your accounts more secure, for example, by using strong passwords, not clicking on links from senders you don’t know, or keeping your device’s operating system up to date.</p>

<p>But not all of the risk is in your control. You have to put trust in the companies and organisations running the apps and sites you use. It’s in their interests to keep your information safe, and often there are laws and regulations to influence them. This is especially the case with banks.</p>

<p>No activity comes with a 100% safety guarantee, so it’s important to use common sense online. If an email offer sounds too good to be true, perhaps it is. If an unbranded site asks you for your email password, consider if it’s tricking you. If you’re feel unsure, ask someone you know or the site’s support team for help.</p>

<p>You can consider security online from three perspectives:</p>

<ul>

  <li>Security of <a href="/privacy_security/security/transmission">transmission</a> &mdash; your data is kept secure as it travels to its destination.</li>
  <li>Security of <a href="/privacy_security/security/access">access</a> &mdash; no-one but you can get at your data</li>
  <li>Security of <a href="/privacy_security/Security/storage">storage</a> &mdash; your data is stored safely.</li>
</ul>

<hr/>

<p>Alternatively, find out about <a href="privacy">Privacy.</a></p>
