<div class='breadcrumbs'>
  <a href="/privacy_security">Security and Privacy</a>
  &raquo;
  Security
</div>

<h1>Security</h1>

<p>People often worry about the personal information they give out when using the internet, such as email addresses, names, postcodes and bank details.</p>

<p>It’s in the interests of all organisations running websites and apps to keep this information safe, and often there are laws and regulations to influence them.</p>

<p>But internet security isn’t just about organisations looking after your information. There are things we can all do as individuals to make our devices and online accounts more secure, too.</p>

<p>You can consider security online from four perspectives:</p>

<ul>

  <li>Security of <a href="/privacy_security/security/devices">your computers and devices</a> &mdash; stopping people using yours.</li>
  <li>Security of <a href="/privacy_security/security/transmission">transmission</a> &mdash; your data is kept secure as it travels to its destination.</li>
  <li>Security of <a href="/privacy_security/security/access">access</a> &mdash; no-one but you can get at your data</li>
  <li>Security of <a href="/privacy_security/security/storage">storage</a> &mdash; your data is stored safely.</li>
</ul>

<hr/>

<p>Alternatively, find out about <a href="privacy">Privacy.</a></p>
