<div class='breadcrumbs'>
  <a href="/privacy_security">Security and Privacy</a>
  &raquo;
  <a href="/privacy_security/security">Security</a>
  &raquo;
  Storage security
</div>

<h1>Storage security</h1>

<p>As someone using websites and apps, they can feel like sealed boxes. You can’t look inside at how their software works or how their data is stored, and all you have to go on is trust.</p>

<p>But you shouldn’t be alarmed – it’s very much in the interests of companies and organisations which run websites to keep your information secure.</p>

<p>Sometimes laws and regulations set specific security requirements for organisations to meet. Examples in the UK are the Data Protection Act, and the Financial Services and Markets Act. The ICO (Information Commissioner's Office) has <a href="https://ico.org.uk/for-the-public/is-my-information-being-handled-correctly/">this useful guide</a> on how organisations have to behave with your information.</p>

<h2>Security of data stores</h2>

<p>The computers and data stores that make up a modern websites and apps are, physically, very secure. They’re not under the desk in an office but in a ‘data centre’: a large building, full of computers and almost no people, devoted to storing servers.</p>

<p>Physical access is highly restricted: no-one can just walk in and fiddle with these computers and stores.</p>

<p>The data on the disks in these computers will likely be backed up (saved) regularly, and backup computers will be available in case some go wrong. The data centre will even have its own backup power-supply.</p>

<h2>Data breaches</h2>

<p>You might have read news stories about ‘data breaches’. These are the internet equivalent of a major bank robbery: a complex crime that requires skill and planning.</p>

<p>Companies handling a lot of data tend to take security very seriously, but determined criminals will still try to find ways to take advantage of weaknesses or oversights. These sorts of breaches are serious but also very rare.</p>

<h2>Being 'hacked'</h2>

<p>Often when many people say they’ve been ‘hacked’ or had data stolen or deleted, it’s because somebody else gained access to their account.</p> 

<p>Someone might have got their login details &mdash; perhaps through a scam, from reading a piece of paper they were written on, or even by being given them.</p>

<p>Other common roots of ‘hacking’ are when people leave themselves logged into a public computer, let someone else use their computer, or have had their computer stolen.</p>

<p>It doesn’t matter how someone else gains access: once they have your login details, they can do what they like.</p>

<p>It’s similar to being broken into after losing your housekeys, or having them stolen – a lock can’t stop someone entering if they have the right key.</p>

<h2>What to do about a breach or hack</h2>

<p>If you’re worried that your password has been compromised, change it immediately – especially if you use the same password for multiple sites (which we do not recommend).</p>

<p>As advised in the <a href="/privacy_security/security/access">access security</a> section, use a password manager to help you pick strong passwords and remember them.</p>

<p>You should never give anyone else access to personal accounts or data. And remember, no organisation should ever ask your for your password in writing or over the phone.</p>


<hr/>

<p><b>Other aspects of security:</b><br/>
  <span class='indent'>
    <a href="devices">Computers and devices</a><br/>
    <a href="transmission">Transmission</a><br/>
    <a href="access">Access</a><br/>
    <em>Storage</em><br/>
  </span>
</p>

