<div class='breadcrumbs'>
  <a href="/privacy_security">Security and Privacy</a>
  &raquo;
  <a href="/privacy_security/security">Security</a>
  &raquo;
  Transmission security
</div>

<h1>Transmission security</h1>
<p style='text-align: center;'><img alt="The green padlock in a browser address bar that indicates secure data transfer" src='/images/privacy/paypal-padlock.png' /></p>


<p class='standfirst'>You might have noticed the green padlock symbol in your browser bar. It means that data is being transmitted securely from your computer to the website in question.</p>

<p>No computer that your data passes through on its journey can access what you're sending – it's private between your device and the endpoint.</p>

<p>(Our explainer ‘<a href="/upload">What happens when I upload a picture?</a>’ tells you more about how data travels.)</p>

<p>The green padlock doesn’t mean that what you do on the website stays private, or that the end website stores your data securely.</p> 

<p>All e-commerce websites should have the green padlock because they ask buyers to send credit card details. Never pay for anything on a website that doesn’t have a green padlock.</p>

<hr/>

<p><b>Other aspects of security:</b><br/>
  <span class='indent'>
    <a href="devices">Computers and devices</a><br/>
    <em>Transmission</em><br/>
    <a href="access">Access</a><br/>
    <a href="storage">Storage</a><br/>
  </span>
</p>

