<h2>Why doesn't a link work?</h2>

<p class='standfirst'>Sometimes you'll click a link but won't be able to view the page it takes you to.</p>

<p>This might be because you need to be logged into that website, or to be a specific type of user (for example, someone's Facebook friend, or a specific customer).</p>

<p>Other reasons a link might not work are because content has been deleted, the website it's on is broken, or characters are missing or wrong in the URL you've clicked.</p>

<p>Find out why a link <a href="/sharing/links_look_different">might look different</a></p>
