<h2>Why doesn't a link work?</h2>

<p class='standfirst'>Sometimes you'll click a link but won't be able to view the page it takes you to.</p>

<p>This might be because you need to be logged into that website, or to be a specific type of user (for example, someone's Facebook friend, or a specific customer).</p>

<p>Other reasons a link might not work are because content has been deleted, the website it's on is broken, or characters are missing or wrong in the URL you've clicked.</p>

<hr class='conclusion' />

<p>Understand more about how the internet works from our other explainers:</p>
<ul class='tightlist'>
  <li><a href='/upload'>What happens when I upload a photo?</a></li>
  <li><a href='/privacy_security'>Security and privacy</a></li>
</ul>
