<div class='breadcrumbs'>
  <a href="/sharing">What happens when I share a photo?</a>
  &raquo;
  What happens when someone clicks my shared link?
</div>

<h2>What happens when someone clicks my shared link?</h2>

<p class='standfirst'>When you share your image or post with someone, they can click a link to go to the exact address in their own browser. They're seeing the same page, not a copy.</p>

<p>Content on BBC Weather Watchers, including your photo, is public &mdash; people don't need to log into the site to see it.</p>

<p>This is why it's worth considering what's in your photo when you post it. Are you showing other people's faces without their permission, or perhaps showing exactly where you live? That will be visible all around the world.</p>

<p>Read our <a href="/privacy_security/privacy">privacy explainer</a> to learn about protecting your privacy online, for yourself and those around you.</p>

<p>You can also find out <a href="/sharing/broken_links">why links sometimes don't work.</a></p>
