<h2>What happens when someone clicks my shared link?</h2>

<p class='standfirst'>When you share your image or post with someone, they can click a link to go to the exact address in their own browser. They're seeing the same page, not a copy.</p>

<p>Content on Weather Watchers, including your photo, is public &mdash; people don't need to log into the site to see it.</p>

<p>This is why it's worth considering what's in your photo when you post it. Are you showing other people's faces without their permission, or perhaps showing exactly where you live? That will be visible all around the world.</p>

<p>Find out more about how to protect your privacy online, for yourself and those around you, in our <a href="/privacy_security/privacy">privacy explainer.</a></p>

<p>Find out why a link <a href="/sharing/broken_links">might not work</a></p>
