<h2>How do I share my photo?</h2>

<p class='standfirst'>URLs are often long and complicated, like the example above &mdash; but sharing them is simple. Two of the easiest ways are manually and with share buttons.</p>

<h3>Manually</h3>

<p>You can send a URL directly in an email, through a messaging service (e.g. iMessage or Skype), or by posting it on a social media site. A URL sent this way is often referred to as a link.</p>

<p>To share a URL as a link, copy it in full from the address bar and paste it straight into the email, message, or website.</p>

<p>Anyone receiving or seeing the link will be able to click on it and go directly to that webpage.</p>

<h3>Using a share button</h3>

<p>Share buttons appear on a lot of webpages to give users a shortcut to sharing their link on other websites.</p>

<p>It typically looks like a small, open triangle on its side, with three dots on its points:</p>

<div class='image-block'>
  <img src="/images/sharing/share_button.png "/>
</div>

<p>Clicking a share button will usually give you a list of places you could share your post or picture. You'll need an account with each of these sites if you want to post there.</p>

<div class='image-block'>
  <img src="/images/sharing/share_popup.png "/>
</div>

<p>Find out <a href="/sharing/links_look_different">why manual links look different to other text.</a></p>
<p>Or skip to reading <a href="/sharing/clicking_a_link">what happens when someone clicks your shared link.</a></p>
