<h2>Why does a link look different on the page?</h2>

<p class='standfirst'>You might see links as coloured URLs like this: <a class="fakelink" href="http://www.bbc.co.uk">www.bbc.co.uk</a>, or as coloured words like this for <a class="fakelink" href="http://www.bbc.co.uk/weatherwatchers">the Weather Watchers page</a>. This colouring shows it's clickable and will take you to a webpage.</p>

<p>Webpages are made in a computer language called <abbr title="HyperText Markup Language">HTML</abbr>, which can be used to connect text on a page to a specific URL.</p>

<p>You might see some URLs you paste turn automatically coloured. A lot of software, like Microsoft Word and email programmes, is able to detect that you're referring to a webpage and connect to it.</p>

